<!DOCTYPE html>
<html lang="ru" ng-app="dz4">
  <head></head>
  <body>
    <div class="container">
      <h2>Контакты</h2>
      <table ng-controller="ContactsListController" class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Телефон</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="contact in contacts">
            <td>{{contact.id}}</td>
            <td>{{contact.name}}</td>
            <td>{{contact.secname}}</td>
            <td>{{contact.tel}}</td>
            <td>{{contact.mail}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>