extends _layout
block content
	h2 Контакты
	table.table
		thead
			tr
				th
				th Имя
				th Фамилия
				th Телефон
				th Email
		tbody
			tr
				th(scope="row") 1
				td Вася
				td Пряников
				td + 7 911 234 56 66
				td md@gmail.com


