<!DOCTYPE html>
<html lang="ru" ng-app="dz4">
  <head></head>
  <body>
    <div class="container">
      <h2>Контакты</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Телефон</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Вася</td>
            <td>Пряников</td>
            <td>+ 7 911 234 56 66</td>
            <td>md@gmail.com</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>