extends _layout
block content
	h2 Контакты
	table(ng-controller="ContactsListController" class="table")
		thead
			tr
				th #
				th Имя
				th Фамилия
				th Телефон
				th Email
		tbody
			tr(ng-repeat="contact in contacts")
				td {{contact.id}}
				td {{contact.name}}
				td {{contact.secname}}
				td {{contact.tel}}
				td {{contact.mail}}


